{% extends 'base.html.twig' %}

{% block title %}{{customer.firstName}} {{customer.lastName}} bearbeiten{% endblock %}

{% block body %}
    <h1>{{customer.firstName}} {{customer.lastName}} bearbeiten</h1>

    {{ include('content/customer/_form.html.twig') }}

    {{ include('elements/buttons/backbutton.html.twig') }}

    {{ include('content/customer/_delete_form.html.twig') }}
{% endblock %}
