{% extends 'base.html.twig' %}

{% block title %}Firmen{% endblock %}

{% block body %}
    <h1>Firmen</h1>
    <a href="{{ path('company_new') }}" class="btn btn-success">Neu</a>

    <table class="table">
        <thead>
            <tr>
                <div class="navigation mb-2 mt-2">
                    {{ knp_pagination_render(companies) }}
                </div>
                <!-- <div class="count">
                    {{ companies.getTotalItemCount }}
                </div> -->
            </tr>
            <tr>
                <th{% if companies.isSorted('companyName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Name', 'companyName') }}
                </th>
                <th{% if companies.isSorted('label.labelName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(companies, 'Label', 'label.labelName') }}
                </th>
                <!-- <th>Name</th> -->
                <!-- <th>Label</th> -->
                <th colspan="2">Projekte</th>
                <th>Ansprechspartner</th>
                <th>Kontakte</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.companyName }}</td>

                <td>
                    <span class="badge bg-secondary">{{ company.label.labelName }}</span>
                </td>

                <td colspan="2">
                    {% for project in company.projects %}
                        <a href="{{ path('project_show', {'id': project.id}) }}">
                            
                            <span class="
                            {% if project.status.statusName == "To do" %}
                            badge bg-primary
                            {% elseif project.status.statusName == "In progress" %}
                            badge bg-success
                            {% elseif project.status.statusName == "On Hold" %}
                            badge bg-warning
                            {% elseif project.status.statusName == "Problem" %}
                            badge bg-danger
                            {% else %}
                            badge bg-secondary
                            {% endif %}
                            ">{{ project.status.statusName }}</span><br>
                            {{project.projectName}}
                            <br>
                        </a>
                        <br>
                    {% endfor %}
                </td>

                <td class="">
                    {% for customer in company.customers %}
                    <span class="badge bg-info text-dark">{{customer.position}}</span><br>
                    <a href="{{ path('customer_show', {'id': customer.id}) }}">
                        {{customer.firstName}} 
                        {{customer.lastName}}
                    </a>
                    <br>
                    {% endfor %}
                </td>
                <td>
                    {% for contact in company.contact %}
                    <div class="card">
                        <div class="card-body">
                            <address>
                                {{ contact.street }}, {{ contact.house }} <br>
                                {{ contact.postCode }} {{ contact.city }} <br>
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> <br>
                                <a href="{{ contact.webpage }}" target="_blank">{{ contact.webpage }}</a><br>
                                <a href="tel:{{contact.phoneNumber}}">Tel.: {{contact.phoneNumber}}</a><br>
                                <a href="tel:{{contact.mobileNumber}}">Mobile: {{contact.mobileNumber}}</a><br>
                            </address>
                        </div>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}" class="btn btn-success btn-sm m-1">show</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}" class="btn btn-success btn-sm m-1">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation mb-2 mt-2">
        {{ knp_pagination_render(companies) }}
    </div>
{% endblock %}
